	<div id="portal-main-container">
		<div id="portal-header-container">
			<header id="portal-main-header">
				<h1>Slovenský Zväz Hádzanej</h1>
				<a href="/#/portal/edit/"><img class="portal-logo" src="/portal/img/portal-logo.png" alt="logo" title="SLOVENSKÝ ZVÄZ HÁDZANEJ" /></a>
				<div id="portal-main-header-logo-area">
					<img src="/portal/img/logo_ehf.png" alt="logo" title="EHF" width="70px" height="70px" />
					<img src="/portal/img/logo_ihf.png" alt="logo" title="IHF" width="70px" height="70px" />
					<img src="/portal/img/logo_sk_ol_vybor.png" alt="logo" title="Slovenský Olympijský Výbor" width="70px" height="70px" style="margin-left: 1px;"/>
				</div>
			</header>
		</div>
		<div id="portal-club-logos-panel-container">
			<div id="portal-club-logos-panel">
				<div class="portal-club-logo portal-club-logo-1"></div>
				<div class="portal-club-logo portal-club-logo-2"></div>
				<div class="portal-club-logo portal-club-logo-3"></div>
				<div class="portal-club-logo portal-club-logo-4"></div>
				<div class="portal-club-logo portal-club-logo-5"></div>
				<div class="portal-club-logo portal-club-logo-6"></div>
				<div class="portal-club-logo portal-club-logo-7"></div>
				<div class="portal-club-logo portal-club-logo-8"></div>
				<div class="portal-club-logo portal-club-logo-9"></div>
				<div class="portal-club-logo portal-club-logo-10"></div>
				<div class="portal-club-logo portal-club-logo-11"></div>
				<div class="portal-club-logo portal-club-logo-12"></div>
				<div class="portal-club-logo portal-club-logo-13"></div>
				<div class="portal-club-logo portal-club-logo-14"></div>
			</div>
		</div>
		<div id="portal-menu-panel-container">
			<div id="portal-menu-panel" xpsui-portal-menu-render></div>
		</div>
		<div id="portal-content-container">
			<div id="portal-main-content" class="portal-main-content-editor">
				<section id="portal-headlines-section">
				</section>
			</div>
		</div>
	</div>
