<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="17" id="com.unionsoft.MemberyMobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <feature name="BarcodeScanner">
        <param name="android-package" value="com.phonegap.plugins.barcodescanner.BarcodeScanner" />
    </feature>
    <feature name="Storage">
        <param name="android-package" value="org.apache.cordova.Storage" />
    </feature>
    <name>Membery Mobile</name>
    <description>
		Membery Mobile Client.
	</description>
    <author email="info@unionsoft.sk" href="http://www.unionsoft.sk">
		UnionSoft s.r.o.
	</author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <meta content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'" http-equiv="Content-Security-Policy" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="tel:*" />
    <allow-navigation href="sms:*" />
    <allow-navigation href="mailto:*" />
    <allow-navigation href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/android/icon.png" />
        <icon density="ldpi" src="res/android/ldpi.png" />
        <icon density="mdpi" src="res/android/mdpi.png" />
        <icon density="hdpi" src="res/android/hdpi.png" />
        <icon density="xhdpi" src="res/android/xhdpi.png" />
        <splash density="land-hdpi" src="res/screen/android/splash-land-hdpi.png" />
        <splash density="land-ldpi" src="res/screen/android/splash-land-ldpi.png" />
        <splash density="land-mdpi" src="res/screen/android/splash-land-mdpi.png" />
        <splash density="land-xhdpi" src="res/screen/android/splash-land-xhdpi.png" />
        <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png" />
        <splash density="port-ldpi" src="res/screen/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png" />
        <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src="res/ios/icons/icon.png" />
        <icon height="180" src="res/ios/icons/icon-60@3x.png" width="180" />
        <icon height="60" src="res/ios/icons/icon-60.png" width="60" />
        <icon height="120" src="res/ios/icons/icon-60@2x.png" width="120" />
        <icon height="76" src="res/ios/icons/icon-76.png" width="76" />
        <icon height="152" src="res/ios/icons/icon-76@2x.png" width="152" />
        <icon height="40" src="res/ios/icons/icon-40.png" width="40" />
        <icon height="80" src="res/ios/icons/icon-40@2x.png" width="80" />
        <icon height="57" src="res/ios/icons/icon.png" width="57" />
        <icon height="114" src="res/ios/icons/icon@2x.png" width="114" />
        <icon height="72" src="res/ios/icons/icon-72.png" width="72" />
        <icon height="144" src="res/ios/icons/icon-72@2x.png" width="144" />
        <icon height="29" src="res/ios/icons/icon-small.png" width="29" />
        <icon height="58" src="res/ios/icons/icon-small@2x.png" width="58" />
        <icon height="50" src="res/ios/icons/icon-50.png" width="50" />
        <icon height="100" src="res/ios/icons/icon-50@2x.png" width="100" />
        <splash height="480" src="res/ios/splash/Default~iphone.png" width="320" />
        <splash height="960" src="res/ios/splash/Default@2x~iphone.png" width="640" />
        <splash height="1024" src="res/ios/splash/Default-Portrait~ipad.png" width="768" />
        <splash height="2048" src="res/ios/splash/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="768" src="res/ios/splash/Default-Landscape~ipad.png" width="1024" />
        <splash height="1536" src="res/ios/splash/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="1136" src="res/ios/splash/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="res/ios/splash/Default-667h.png" width="750" />
        <splash height="2208" src="res/ios/splash/Default-736h.png" width="1242" />
        <splash height="1242" src="res/ios/splash/Default-Landscape-736h.png" width="2208" />
    </platform>
    <preference name="CROSSWALK_ANDROID_COMMANDLINE" value="--disable-pull-to-refresh-effect" />
    <preference name="LIB_MODE" value="embedded" />
    <preference name="xwalkVersion" value="xwalk_core_library_beta_15.44.384.13:15.44.384.13" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="EnableViewportScale" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="true" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="TopActivityIndicator" value="white" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="SuppressesIncrementalRendering" value="true" />
    <preference name="GapBetweenPages" value="0" />
    <preference name="PageLength" value="0" />
    <preference name="PaginationBreakingMode" value="page" />
    <preference name="PaginationMode" value="unpaginated" />
    <preference name="UIWebViewDecelerationSpeed" value="fast" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="UIStatusBarHidden" value="true" />
    <preference name="BackgroundColor" value="0xffffffff" />
    <preference name="xwalkVersion" value="14+" />
    <preference name="EnableViewportScale" value="false">
</widget>
