<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<div id="portal-main-container">
		<div id="portal-header-container">
			<header id="portal-main-header">
				<h1>Slovenský Zväz Hádzanej</h1>
				<a href="/#/portal/edit/"><img class="portal-logo" src="/portal/img/portal-logo.png" alt="logo" title="SLOVENSKÝ ZVÄZ HÁDZANEJ" /></a>
				<div id="portal-main-header-logo-area">
					<img src="/portal/img/logo_ehf.png" alt="logo" title="EHF" width="70px" height="70px" />
					<img src="/portal/img/logo_ihf.png" alt="logo" title="IHF" width="70px" height="70px" />
					<img src="/portal/img/logo_sk_ol_vybor.png" alt="logo" title="Slovenský Olympijský Výbor" width="70px" height="70px" style="margin-left: 1px;"/>
				</div>
			</header>
		</div>
		<div id="portal-menu-panel-container">
			<div id="portal-menu-panel" xpsui-portal-menu-render></div>
		</div>
		<div id="portal-content-container">
			<div id="portal-main-content" class="portal-main-content-editor">
				<article id="portal-article" xpsui-portal-article-content-edit ng-model="model.data">
				</article>
			</div>
			<div id="portal-side-content">
				<section class="portal-side-panel-logos">
					<img src="/portal/img/logo_seha.png" height="251px" align="middle"></img>
					<div class="portal-side-panel-logos-sep"></div>
					<img src="/portal/img/sk_sien_slavy.png" height="251px" align="middle"></img>
				</section>
<!-- 
				<section class="portal-side-panel">
					<header>Výsledky</header>
					<div style="width:100%;"><select style="width:100%; padding-top: 5px; padding-bottom: 5px; padding-left: 36px; margin-top: 5px; margin-bottom: 5px;"><option>Extraliga - Muži</option></select></div>

					<table style="width: 100%;">
						<tr><td colspan="3" class="x-portal-results-date">3.12.2014</td></tr>
						<tr><td class="x-portal-results-left-club">HC SPORTA Hlohovec</td><td class="x-portal-results-hyphen">26 : 30</td><td class="x-portal-results-right-club">Tatran Prešov</td></tr>
						<tr><td colspan="3" class="x-portal-results-date">29.11.2014</td></tr>
						<tr><td class="x-portal-results-left-club">HKM Šaľa</td><td class="x-portal-results-hyphen">20 : 29</td><td class="x-portal-results-right-club">MŠK Považská Bystrica</td></tr>
						<tr><td class="x-portal-results-left-club">MHáK Martin</td><td class="x-portal-results-hyphen">26 : 27</td><td class="x-portal-results-right-club">1.MHK Košice</td></tr>
						<tr><td colspan="3" class="x-portal-results-date">28.11.2014</td></tr>
						<tr><td class="x-portal-results-left-club">ŠKP Bratislava</td><td class="x-portal-results-hyphen">23 : 26</td><td class="x-portal-results-right-club">HC Štart Nové Zámky</td></tr>
						<tr><td colspan="3" class="x-portal-results-date">22.11.2014</td></tr>
						<tr><td class="x-portal-results-left-club">MHáK Martin</td><td class="x-portal-results-hyphen">16 : 40</td><td class="x-portal-results-right-club">HC SPORTA Hlohovec</td></tr>
						<tr><td class="x-portal-results-left-club">MŠK Považská Bystrica</td><td class="x-portal-results-hyphen">36 : 19</td><td class="x-portal-results-right-club">ŠKP Bratislava</td></tr>
						<tr><td colspan="3" class="x-portal-results-date">19.11.2014</td></tr>
						<tr><td class="x-portal-results-left-club">HC SPORTA Hlohovec</td><td class="x-portal-results-hyphen">34 : 17</td><td class="x-portal-results-right-club">Slovan Modra</td></tr>
						<tr><td class="x-portal-results-left-club">HK Topoľčany</td><td class="x-portal-results-hyphen">35 : 23</td><td class="x-portal-results-right-club">HKM Šaľa</td></tr>
						<tr><td class="x-portal-results-left-club">HC Štart Nové Zámky</td><td class="x-portal-results-hyphen">33 : 26</td><td class="x-portal-results-right-club">1.MHK Košice</td></tr>
						<tr><td colspan="3" class="x-portal-results-date">16.11.2014</td></tr>
						<tr><td class="x-portal-results-left-club">Tatran Prešov</td><td class="x-portal-results-hyphen">38 : 17</td><td class="x-portal-results-right-club">Slovan Modra</td></tr>
						<tr><td class="x-portal-results-left-club">MHáK Martin</td><td class="x-portal-results-hyphen">26 : 34</td><td class="x-portal-results-right-club">HC Štart Nové Zámky</td></tr>
					</table>
				</section>
				<section class="portal-side-panel">
					<header>Poradie</header>
					<div style="width:100%;"><select style="width:100%; padding-top: 5px; padding-bottom: 5px; padding-left: 36px; margin-top: 5px; margin-bottom: 5px;"><option>Extraliga - Muži</option></select></div>

					<table style="width:100%; padding-top: 1px;" class="rowtable">
						<tr><td style="text-align:right; padding-right: 5px;">1.</td><td style="font-weight: bold;">Prešov</td><td style="text-align: right;">14z</td><td style="text-align: right;">28b</td><tr>
						<tr><td style="text-align:right; padding-right: 5px;">2.</td><td style="font-weight: bold;">Topoľčany</td><td style="text-align: right;">14z</td><td style="text-align: right;">26b</td><tr>
						<tr><td style="text-align:right; padding-right: 5px;">3.</td><td style="font-weight: bold;">Hlohovec</td><td style="text-align: right;">14z</td><td style="text-align: right;">20b</td><tr>
						<tr><td style="text-align:right; padding-right: 5px;">4.</td><td style="font-weight: bold;">P.Bystrica</td><td style="text-align: right;">14z</td><td style="text-align: right;">20b</td><tr>
						<tr><td style="text-align:right; padding-right: 5px;">5.</td><td style="font-weight: bold;">N.Zámky</td><td style="text-align: right;">14z</td><td style="text-align: right;">14b</td><tr>
						<tr><td style="text-align:right; padding-right: 5px;">6.</td><td style="font-weight: bold;">HKM Šaľa</td><td style="text-align: right;">14z</td><td style="text-align: right;">14b</td><tr>
						<tr><td style="text-align:right; padding-right: 5px;">7.</td><td style="font-weight: bold;">Košice</td><td style="text-align: right;">14z</td><td style="text-align: right;">9b</td><tr>
						<tr><td style="text-align:right; padding-right: 5px;">8.</td><td style="font-weight: bold;">ŠKP BA</td><td style="text-align: right;">14z</td><td style="text-align: right;">6b</td><tr>
						<tr><td style="text-align:right; padding-right: 5px;">9.</td><td style="font-weight: bold;">Modra</td><td style="text-align: right;">14z</td><td style="text-align: right;">3b</td><tr>
						<tr><td style="text-align:right; padding-right: 5px;">10.</td><td style="font-weight: bold;">Martin</td><td style="text-align: right;">14z</td><td style="text-align: right;">0b</td><tr>
					</table>
				</section>
 -->
				<section class="portal-side-panel">
					<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FSlovenskyZvazHadzanej&amp;width=300px&amp;height=590&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300pxpx; height:590px;" allowTransparency="true"></iframe>
				</section>
				<section class="portal-side-panel">
					<div style="text-align: center;"><img src="portal/img/mskolsr.png"></img></div>
					<div style="text-align: center; padding-top: 5px;">ROK 2014 719 200,- EUR</div>
				</section>
				<section class="portal-side-panel">
					<header>Partneri</header>
					<div style="text-align: center; padding-top: 5px; height: 200px; vertical-align: middle; display: table-cell;"><img style="" src="portal/img/retic.png"></img></div>
					<div style="text-align: center; padding-top: 5px;">Hlavný reklamný partner reprezentačného družstva žien</div>
				</section>
			</div>
		</div>
	</div>
	<div id="footer-container">
		<div id="portal-club-logos-panel-container">
			<div id="portal-club-logos-panel">
				<div class="portal-club-logo portal-club-logo-1"></div>
				<div class="portal-club-logo portal-club-logo-2"></div>
				<div class="portal-club-logo portal-club-logo-3"></div>
				<div class="portal-club-logo portal-club-logo-4"></div>
				<div class="portal-club-logo portal-club-logo-5"></div>
				<div class="portal-club-logo portal-club-logo-6"></div>
				<div class="portal-club-logo portal-club-logo-7"></div>
				<div class="portal-club-logo portal-club-logo-8"></div>
				<div class="portal-club-logo portal-club-logo-9"></div>
				<div class="portal-club-logo portal-club-logo-10"></div>
				<div class="portal-club-logo portal-club-logo-11"></div>
				<div class="portal-club-logo portal-club-logo-12"></div>
				<div class="portal-club-logo portal-club-logo-13"></div>
				<div class="portal-club-logo portal-club-logo-14"></div>
			</div>
		</div>
		<header id="main-footer">
			Unionsoft, s.r.o, Všetky práva vyhradené
		</header>
	</div>
