/*$icon-font-path: "../fonts/" !default;
$icon-font-name: "font" !default;
$icon-font-svg-id: "font" !default;*/
@media print {
  #main-wrapper > header {
    margin: 0px 15px;
    position: relative;
    display: table !important;
    height: 90px;
    font-size: 20px !important;
    font-weight: bold; }
    #main-wrapper > header:before {
      content: url("/dataset/get/img/logo.png");
      display: table-cell; }
    #main-wrapper > header:after {
      content: "SLOVENSKÝ ZVÄZ HÁDZANEJ";
      white-space: pre;
      display: table-cell;
      text-align: left;
      vertical-align: middle; }
    #main-wrapper > header > * {
      display: none !important; } }

